.section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.photo {
  display: block;
  margin: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Caveat', sans-serif;
  color: #ffffff;
}

.subTitle {
  margin-bottom: 0;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Caveat', sans-serif;
  color: #ffffff;
}
